* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

.back {
  background-color: #000033;
}

.content-wrap {
  display: flex;
  margin-top: 10px;
  min-height: 600px;
  padding-top: 80;
}
.content-wrap main {
  flex: 1 1 0%;
  padding: 0px 16px;
}
.content-wrap main .hidden {
  display: none;
}
.content-wrap main .view {
  display: block;
}
.content-wrap main .main-head {
  display: flex;
  justify-content: flex-end;
}
.content-wrap main .main-head .search-box {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
}
.content-wrap main .main-head .search-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 10px;
  background-image: linear-gradient(109.6deg, rgb(156, 252, 248) 11.2%, rgb(110, 123, 251) 91.1%);
  transition: 0.4s;
}
.content-wrap main .main-head .search-box input ::-moz-placeholder {
  color: rgb(0, 0, 0);
}
.content-wrap main .main-head .search-box input :-ms-input-placeholder {
  color: rgb(0, 0, 0);
}
.content-wrap main .main-head .search-box input ::placeholder {
  color: rgb(0, 0, 0);
}
.content-wrap main .main-head .search-box input:focus, .content-wrap main .main-head .search-box input:valid {
  background: rgb(230, 227, 255);
  color: rgb(0, 0, 0);
  font-weight: 20;
}
.content-wrap main .anime-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.content-wrap main .anime-list .anime-card {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  padding: 16px 8px;
}
.content-wrap main .anime-list .anime-card a {
  text-decoration: none;
}
.content-wrap main .anime-list .anime-card a h3 {
  color: #fff;
}
.content-wrap main .anime-list .anime-card a h4 {
  font-weight: lighter;
  color: #fff;
}
.content-wrap main .anime-list .anime-card figure {
  display: block;
  margin-bottom: 16px;
}
.content-wrap main .anime-list .anime-card figure img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.content-wrap main .anime-list .anime-card h3 {
  color: #313131;
}
.content-wrap main .anime-list .anime-card h4 {
  color: #313131;
}
.content-wrap main .anime-list .anime-card:hover figure img {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
.content-wrap aside {
  min-width: 250px;
  padding-right: 16px;
  justify-content: center;
}
.content-wrap aside nav {
  padding-right: 16px;
}
.content-wrap aside nav .side-menu {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 16px;
  background-image: linear-gradient(109.6deg, rgb(156, 252, 248) 11.2%, rgb(110, 123, 251) 91.1%);
}
.content-wrap aside nav h3 {
  color: #000033;
  font-size: 24px;
  text-align: center;
}
.content-wrap aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  border-radius: 999px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.content-wrap aside nav a:hover {
  background: linear-gradient(90deg, #3F2B96 0%, #5a89ff 100%);
  color: #fff;
}

@media screen and (max-width: 960px) and (min-width: 400px) {
  .content-wrap {
    display: flex;
    flex-direction: column;
  }
  .content-wrap .back {
    background-color: #000033;
  }
  .content-wrap main {
    padding: 0px 16px;
  }
  .content-wrap main .main-head {
    display: flex;
    justify-content: flex-end;
  }
  .content-wrap main .main-head .search-box {
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
  }
  .content-wrap main .main-head .search-box input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 16px;
    border-radius: 10px;
    background-image: linear-gradient(109.6deg, rgb(156, 252, 248) 11.2%, rgb(110, 123, 251) 91.1%);
    transition: 0.4s;
  }
  .content-wrap main .main-head .search-box input ::-moz-placeholder {
    color: #fff;
  }
  .content-wrap main .main-head .search-box input :-ms-input-placeholder {
    color: #fff;
  }
  .content-wrap main .main-head .search-box input ::placeholder {
    color: #fff;
  }
  .content-wrap main .main-head .search-box input:focus, .content-wrap main .main-head .search-box input:valid {
    background: rgb(230, 227, 255);
    color: rgb(0, 0, 0);
    font-weight: 20;
  }
  .content-wrap main .anime-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin: 32px -8px 0px;
    color: white;
  }
  .content-wrap main .anime-list .anime-card {
    flex: 1 1 33.333%;
    max-width: 33.333%;
    padding: 16px 8px;
  }
  .content-wrap main .anime-list .anime-card a {
    text-decoration: none;
  }
  .content-wrap main .anime-list .anime-card a h3 {
    color: #fff;
  }
  .content-wrap main .anime-list .anime-card a h4 {
    font-weight: lighter;
    color: #fff;
  }
  .content-wrap main .anime-list .anime-card figure {
    display: block;
    margin-bottom: 16px;
  }
  .content-wrap main .anime-list .anime-card figure img {
    display: block;
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px;
    transition: 0.4s;
  }
  .content-wrap main .anime-list .anime-card:hover figure img {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
  .content-wrap main .hidden {
    display: none;
  }
  .content-wrap aside {
    max-width: 100%;
    padding-right: 16px;
    margin: auto;
    min-height: 60vh;
    display: flex;
  }
  .content-wrap aside nav {
    display: flex;
    flex-direction: column;
    max-height: 70px;
  }
  .content-wrap aside nav .side-menu {
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 30px;
    margin-left: 0;
    background-color: #3F2B96;
    cursor: pointer;
  }
  .content-wrap aside nav h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
  .content-wrap aside nav a {
    padding: 8px 16px;
    text-align: left;
    color: #888;
    font-size: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    display: none;
    background-color: #EEE;
    border-radius: 999px;
    text-decoration: none;
  }
  .content-wrap aside nav a:hover {
    background: linear-gradient(90deg, #3F2B96 0%, #5a89ff 100%);
    color: #fff;
  }
  .content-wrap aside nav .side-content1:hover a {
    display: block;
  }
  .content-wrap aside nav .side-content3:hover a {
    display: block;
  }
  .content-wrap aside nav .side-content2:hover a {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .content-wrap {
    display: flex;
    flex-direction: column;
  }
  .content-wrap .back {
    background-color: #000033;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */